<header>

  <!-- desktop -->
  <div class="d-none d-md-block">
    <div class="row py-4">
      <div class="col-1"></div>

      <div class="col-2 align-self-center text-center">
        <h3 class="text-info">Dawn Traveling</h3>
      </div>

      <div class="col">
        <div class="navbar justify-content-end bg-white">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Adventures</a>
          <a class="nav-item nav-link" href="#">Contact</a>
          <a class="nav-item nav-link" href="#">Login</a>
        </div>
      </div>

      <div class="col-1"></div>
    </div>
  </div>


  <!-- mobile -->
  <div class="d-block d-md-none">
    <div class="row px-4 py-4">
      <div class="col-2 align-self-center text-center">
        <h3 class="text-info">Dawn Traveling</h3>
      </div>

      <div class="col text-end align-self-center">
        <button type="button" class="btn btn-outline-secondary px-4" (click)="onExpandMenu()">
          <fa-icon [icon]="iconMenu"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</header>
