<div class="w-100 d-flex justify-content-center align-self-center">
  <div class="row m-5">

    <div class="col-12 col-md">
      <div class="row h-25">
        <div class="col text-info">
          <h3>Danw Traveling!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container w-75">
            <div class="mb-5 text-secondary">
              <h4>Sign In</h4>
            </div>
            <div>
              <input (input)="inputUsername($event)" type="text" class="form-control mb-3" placeholder="Username"
                aria-label="Username" aria-describedby="basic-addon1">
              <input (input)="inputPassword($event)" type="password" class="form-control mb-3" placeholder="Password"
                aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="mb-5">
              <button (click)="onPressSignIn()" type="button" class="btn btn-info btn-lg btn-block w-100 text-white">Sign
                in</button>
            </div>
            <div class="mb-5">
              <p>You don't have account ? <a href="#">Sign Up</a></p>
            </div>
            <div class="mb-5 text-secondary d-none d-md-block">
              <p class="or-text"><span>or login with social network</span></p>
            </div>
            <div class="mb-5 text-secondary d-block d-md-none">
              <p class="or-text"><span>or login with</span></p>
            </div>
            <div class="mb-3">
              <button type="button" class="btn btn-outline-secondary btn-lg btn-block w-100">Facebook</button>
            </div>
            <div>
              <button type="button" class="btn btn-outline-secondary btn-lg btn-block w-100">Google</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-25 text-secondary">
        <div class="col align-self-end">
          <p>© 2022 Danw Traveling. All Rights Reserved</p>
        </div>
      </div>
    </div>

    <div class="col-12 d-none d-md-block col-md">
      <img [src]="imageSide" class="img-fluid" alt="Responsive image">
    </div>

  </div>
</div>
